{{- $email := promptStringOnce . "email" "Email Address" "tosho.hirasawa@gmail.com" }}
{{- $fullname := promptStringOnce . "fullname" "Full name" "Tosho Hirasawa" }}
{{- $pubkey := "" }}
{{- $python_version := promptStringOnce . "python_version" "Python Version" "3.12.3" }}
{{- $todoist_token := promptStringOnce . "todoist_token" "Todoist Token" -}}
{{- $op_ssh_key_id := promptStringOnce . "op_ssh_key_id" "SSH Key id in 1Password" -}}

[data]
    email = {{ $email | quote }}
    fullname = {{ $fullname | quote }}
{{- if (eq .chezmoi.os "darwin") }}
    pubkey = "{{ (onepasswordDetailsFields $op_ssh_key_id).public_key.value }}"
{{- end }}
    python_version = {{ $python_version | quote }}
    todoist_token = {{ $todoist_token | quote }}
    op_ssh_key_id = {{ $op_ssh_key_id | quote }}

[edit]
    command = "code"
    args = "--wait"

encryption = "age"
[age]
    identity = "{{ .chezmoi.homeDir }}/.ssh/id_ed25519"
    recipient = "{{ (onepasswordDetailsFields .op_ssh_key_id).public_key.value }}"

{{ if (eq .chezmoi.os "darwin") -}}
[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/home/.install-password-manager.sh"
{{- end }}