#!/usr/bin/env zsh

if [ -f $HOME/.localrc ]; then
    source $HOME/.localrc
fi

# If you come from bash you might have to change your $PATH.
export PATH=$HOME/.local/bin:$PATH

# Pyenv should be initialized before loading pyenv plugin
export PYENV_ROOT="$HOME/.pyenv"
[[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="ys"
plugins=(git tmux ssh ssh-agent 1password python pyenv poetry chezmoi iterm2 abci tmu gcloud)
zstyle ':omz:update' mode disabled  # disable automatic updates
zstyle ':omz:plugins:iterm2' shell-integration true # enable iTerm2 shell integration
zstyle ':omz:plugins:ssh' ssh-colorization true # enable colorize smux tabs
source $ZSH/oh-my-zsh.sh

# User configuration
alias c="clear"

# Disable scan over untracked files for faster scan over large repositories
DISABLE_UNTRACKED_FILES_DIRTY="true"

{{- if (eq .chezmoi.os "darwin") }}
# Disable updating homebrew on every execution
export HOMEBREW_NO_AUTO_UPDATE=1
export PATH="/Users/tosho.hirasawa/.rd/bin:$PATH"
source $(brew --prefix)/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{ end }}